<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<main class="main">
  <div class="component">
    <div class="component-title">
      <h2>{{ title }}</h2>
    </div>
    <form [formGroup]="bookInputs" (ngSubmit)="onSubmit()">
      <p>Input Author and Title values in form.</p>
      <div class="book_input">
        <label for="author_input">Author: </label>
        <input id="author_input" type="text" formControlName="author_val">
      </div>
      <div class="title_input">
        <label for="titles_input">Title: </label>
        <input id="titles_input" type="text" formControlName="title_val">
      </div>
      <button type="submit" [disabled]="!bookInputs.valid">Submit</button>
    </form>
    <h3>Poems</h3>
    <ul>
      <li *ngFor="let elem of poems">
        {{ elem }}
      </li>
    </ul>
  </div>

</main>

